.env
.venv/
data/
.idea/
 __pycache__/
 contacts_all.json
contacts_all.json
/__pycache__
preply_tutors.csv
students_by_price.png
Tutor_Price_Summary.xlsx
tutors_by_price.png
tutors_by_price_range.png
active_students_vs_price.png
preply_tutors_urdu.csv
active_students_vs_price_urdu.png
arabic_preply_revenue.csv
english vs urdu.jpg
english x urdu normalized.png
english x urdu.png
english_distribution.png
english_preply_revenue.csv
english_vs_urdu_price_distribution.png
hindi_preply_revenue.csv
preply_tutors_arabic.csv
preply_tutors_french.csv
preply_tutors_hindi.csv
Tutor_Price_Summary_Urdu.xlsx
urdu_distribution.png
urdu_preply_revenue.csv
